fastapi
uvicorn
python-multipart
pydantic
langchain-community
pdfplumber
python-docx
langdetect
pinecone
rank-bm25
langchain
langchain-mistralai
langchain-google-genai
sqlalchemy
asyncpg
pydantic[email]
passlib[bcrypt]
argon2-cffi
passlib
python-jose[cryptography]
redis
boto3
pyetest