fastapi
uvicorn
python-multipart
pydantic
langchain-community
pdfplumber
python-docx
langdetect
pinecone
rank-bm25
langchain
langchain-mistralai
langchain-google-genai
sqlalchemy
asyncpg